
.mainDesign{
  width: 100%;
  height: 100vh;
  background-color: grey;
  float: left;
}

.Divsection{

  
.whoAmI{
  width: 100%;
  min-height: 50px;
  background: purple;
  color: white;
  margin: 5px;
  
}

}